@use '../utils' as *;
@use  './typography' as *;
html
{
    font-size: 62.5%;
}
body
{
    font-size: $standard;
    font-family: $family;
    // @include respond-to('m')
    // {
    //     background-color: royalblue;
    // }
}