@use '../utils' as *;
@use '../base/typography' as *;
.card
{
    margin: 1em 0;
    padding: 1.5em;
    width: 100%;
    max-width: 800px;
    border: 1px solid $v-light-gray;
    background-color: $white;
    border-radius: 6px;
    @include respond-to('m')
    {
        width: 95%;
    }
    &--intro
    {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 85%;
    transform: translateX(-50%);

    [alt="mastercraft logo"]
    {
        position: absolute;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
    }
    &__heading
    {
        margin: 0.75em 0;
        font-size: calc($standard + .3rem);
        &--intro
        {
            text-align: center;
        }
    }
    &__text
    {
        color: $dark-gray;
        font-size: $standard;
        line-height: 23px;
        &--intro
        {
            text-align: center;
        }
    }
    &__buttons-box
    {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        @include respond-to('m')
        {
            justify-content: space-between;            
        }
    }
    &--money
    {
        margin-top: 14.2em;
        @include respond-to('m')
        {
            margin-top: 10em;
            padding: 2.5em;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-column-gap: 0px;
            grid-row-gap: 20px;
        }
        .money-box { 
            @include respond-to('m')
            {
                grid-area: 1 / 1 / 3 / 2; 
            }
        }
        .backers-box { 
            @include respond-to('m')
            {
                grid-area: 1 / 2 / 3 / 3; 
            }
        }
        .days-box { 
            @include respond-to('m')
            {
                grid-area: 1 / 3 / 3 / 4; 
            }
        }
        .money-box, .backers-box
        {
            @include respond-to('m')
            {
                width: 85%;
                border-right: 1px solid $v-light-gray;
            }
        }
        .card
        {
            &__money, &__backers, &__days
            {
                margin-bottom: 0.3em;
                text-align: center;
                @include respond-to('m')
                {
                    text-align: left;
                }
            }
            &__text
            {
                margin-bottom: 0.5em;
                text-align: center;
                @include respond-to('m')
                {
                    text-align: left;
                }
            }
            &__divider
            {
                margin: 1em 0;
                border: 1px solid transparent;
                height: 1px;
                background-color: $v-light-gray;
                transform-origin: center;
                transform: scaleX(.4);
                @include respond-to('m')
                {
                    display: none;
                }
            }
            &__progressbar
            {
                margin-top: 1em;
                width: 100%;
                height: 10px;
                background-color: $v-light-gray;
                border-radius: 30px;
                @include respond-to('m')
                {
                    grid-area: 3 / 1 / 4 / 4;
                }
                &--fill
                {
                    // @extend .card__progressbar;
                    width: 75%;
                    height: 10px;
                    background-color: $mod-cyan;
                    border-radius: 30px;
                }
            }
        }
    }
    &--about
    {
        @include respond-to('m')
        {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .card
        {
            &__heading
            {
                align-self: flex-start;
            }
            &__text
            {
                &--second-paragraph
                {
                    margin: 1.5em 0;
                }
            }
        }
    }
    &--pledge
    {
        @include respond-to('m')
        {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: .3fr .4fr .3fr;
            // grid-row-gap: 20px;
        }
        .card
        {
            &__heading
            {
                margin-bottom: 0.5em;
                font-size: $standard;
                @include respond-to('m')
                {
                    grid-area: 1 / 1 / 2 / 2;
                }
            }
            &__pledge-text
            {
                margin-bottom: 1.25em;
                font-size: $standard;
                color: $mod-cyan;
                font-weight: $regular;
                @include respond-to('m')
                {
                    margin-bottom: 0;
                    grid-area: 1 / 3 / 2 / 4;
                    align-self: center;
                    justify-self: end;
                }
            }
            &__text
            {
                margin-bottom: 1.5em;
                @include respond-to('m')
                {
                    grid-area: 2 / 1 / 3 / 4;
                }
            }
            &__items-left
            {
                margin-bottom: 1.5em;
                color: $dark-gray;
                @include respond-to('m')
                {
                    margin-bottom: 0;
                    grid-area: 3 / 1 / 4 / 2; 
                    align-items: center;
                }
                .counter
                {
                    margin-right: 0.1em;
                    font-size: calc($large + .5rem);
                    font-weight: $bold;
                    color: $black;
                }
            }
            &__button
            {
                @include respond-to('m')
                {
                    grid-area: 3 / 3 / 4 / 4;
                    align-items: center;
                }
            }
        }
        &--disabled
        {
            opacity: .5;
            filter: grayscale(100%);
            .card
            {
                &__button
                {
                    &--disabled
                    {
                        cursor: not-allowed;
                    }
                }
            }
        }
    }
}