@use '../utils' as *;
@use '../base/typography' as *;
.modal
{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    width: 90%;
    padding: 1.5em;
    background-color: $white;
    border-radius: 8px;
    &__shadow
    {
        display: none;
        &--active
        {
            display: block;
            position: absolute;
            top: 0;
            z-index: 1000;
            width: 100%;
            min-height: 100%;
            background-color: rgba(0, 0, 0, .6);
        }
    }
    &__back
    {
        display: none;
        height: 80vh;
        overflow-y: auto;
        max-width: 800px;
        &--active
        {
            display: block;
        }
    }
    &__header
    {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__body
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &__text
        {
            margin-top: 1em;
            align-self: flex-start;
            color: $dark-gray;
        }
        .card
        {
            position: relative;
            cursor: pointer;
            &:hover input[type=radio]
            {
                border-color: $mod-cyan;
            }
            &:hover .card__heading
            {
                color: $mod-cyan;
            }
            input[type=radio]
            {
                appearance: none;
                display: grid;
                place-content: center;
                margin: 0;
                background-color: $white;
                width: 1.75em;
                height: 1.75em;
                border: 1px solid $dark-gray;
                transition: border-color .1s;
                border-radius: 50%;
                cursor: pointer;
                &::before
                {
                    content: "";
                    display: inline-block;
                    width: 1em;
                    height: 1em;
                    transition: transform .1s ease-in-out;
                    transform: scale(0);
                    border-radius: 50%;
                    box-shadow: inset 1.5em 1.5em $mod-cyan
                }
                &:checked::before
                {
                   transform: scale(1);
                }
            }
            &__heading
            {
                margin-left: 1em;
                font-size: calc($tiny + .1rem);
                transition: color .1s;
                &--pledge-info
                {
                    margin: -0.5em 1em 1em 1em;
                    color: $mod-cyan;
                    font-weight: $regular;
                    
                }
            }
            &__text
            {
                margin-bottom: 1.2em;
                font-size: calc($standard - .1rem);
                @include respond-to('m')
                {
                    margin-bottom: 0;
                }
            }
            &--disabled
            {
                opacity: .5;
                filter: grayscale(100%);
            }
            &__items-left
            {
                color: $dark-gray;
                .counter
                {
                    color: $black;
                    font-size: $large;
                    font-weight: $bold;
                }
            }
            .clickable
            {
                display: flex;
                align-items: center;
                width: 100%;
            }
            &__pledge-manager
            {
                display: none;
                margin: 1em 0;
                padding: 1em 0;
                width: 100%;
                border: none;
                border-top: 1px solid $v-light-gray;
                border-radius: 0;
                text-align: center;
                @include respond-to('m')
                {
                    justify-content: space-between;
                    align-items: center;                  
                }
            }

            .input-info
            {
                position: relative;
                display: flex;
                justify-content: space-around;
                input[type=number]
                {
                    position: relative;
                    z-index: 0;
                    width: 45%;
                    padding: 1em;
                    padding-left: 2em;
                    border-radius: 24px;
                    border: 1px solid $v-light-gray;
                    font-weight: $bold;
                    &:focus
                    {
                        outline: $mod-cyan solid 1px;
                    }
                    
                }
                &::after
                {
                    content: '$';
                    position: absolute;
                    top: 47%;
                    left: 8%;
                    transform: translateY(-50%);
                    @include respond-to('s')
                    {
                        left: 10%;
                    }
                    @include respond-to('m')
                    {
                        left: 6%;
                    }
                }
                input[type=submit]
                {
                    margin-left: .5em;
                    padding: 1em;
                    border-radius: 24px;
                    background-color: $mod-cyan;
                    border: 1px solid transparent;
                    color: $white;
                    font-size: $standard;
                }
            }
        }
    }
    &__form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__confirm
    {
        display: none;
        flex-direction: column;
        align-items: center;
        &__heading
        {
            margin: 1em 0;
        }
        &__text
        {
            margin: .75em 0;
            padding: 0 0.5em;
            text-align: center;
            color: $dark-gray;
        }
        &__btn
        {
            margin-top: 1em;
            padding: 1em 2em;
            border: 1px solid transparent;
            border-radius: 24px;
            background-color: $mod-cyan;
            color: $white;
            font-size: $standard;
            font-weight: $bold;

        }
        &--active
        {
            display: flex;
        }
    }
    &__close
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1em;
        border: 1px solid transparent;
        background: none;
        cursor: pointer;
    }

}

